[submodule "PSFoundation/External/BlocksKit"]
	path = PSFoundation/External/BlocksKit
	url = git://github.com/zwaldowski/BlocksKit.git
[submodule "PSFoundation/External/DSActivityView"]
	path = PSFoundation/External/DSActivityView
	url = git://github.com/zwaldowski/DSActivityView.git
[submodule "PSFoundation/External/jrswizzle"]
	path = PSFoundation/External/jrswizzle
	url = git://github.com/zwaldowski/jrswizzle.git
[submodule "PSFoundation/External/EGOImageLoading"]
	path = PSFoundation/External/EGOImageLoading
	url = git://github.com/myell0w/EGOImageLoading.git
[submodule "PSFoundation/External/appirater"]
	path = PSFoundation/External/appirater
	url = git://github.com/zwaldowski/appirater.git
[submodule "PSFoundation/External/TDSemiModal"]
	path = PSFoundation/External/TDSemiModal
	url = git://github.com/zwaldowski/TDSemiModal.git
[submodule "PSFoundation/External/MagicalRecord"]
	path = PSFoundation/External/MagicalRecord
	url = git://github.com/zwaldowski/MagicalRecord.git
[submodule "PSFoundation/External/TDBadgedCell"]
	path = PSFoundation/External/TDBadgedCell
	url = git://github.com/zwaldowski/TDBadgedCell.git
[submodule "PSFoundation/External/MAZeroingWeakRef"]
	path = PSFoundation/External/MAZeroingWeakRef
	url = git://github.com/zwaldowski/MAZeroingWeakRef.git
[submodule "PSFoundation/External/MBProgressHUD"]
	path = PSFoundation/External/MBProgressHUD
	url = git://github.com/zwaldowski/MBProgressHUD.git
[submodule "PSFoundation/External/NYXImagesUtilities"]
	path = PSFoundation/External/NYXImagesUtilities
	url = git://github.com/myell0w/NYXImagesUtilities.git
[submodule "PSFoundation/External/EGOCache"]
	path = PSFoundation/External/EGOCache
	url = git://github.com/myell0w/EGOCache.git
