[submodule "PSFoundation/External/BlocksKit"]
	path = PSFoundation/External/BlocksKit
	url = git://github.com/zwaldowski/BlocksKit.git
[submodule "PSFoundation/External/TDSemiModal"]
	path = PSFoundation/External/TDSemiModal
	url = git://github.com/reednj/TDSemiModal.git
[submodule "PSFoundation/External/MAZeroingWeakRef"]
	path = PSFoundation/External/MAZeroingWeakRef
	url = git://github.com/zwaldowski/MAZeroingWeakRef.git
[submodule "PSFoundation/External/MBProgressHUD"]
	path = PSFoundation/External/MBProgressHUD
	url = git://github.com/matej/MBProgressHUD.git
[submodule "PSFoundation/External/DSActivityView"]
	path = PSFoundation/External/DSActivityView
	url = git://github.com/joycodes/DSActivityView.git
[submodule "PSFoundation/External/appirater"]
	path = PSFoundation/External/appirater
	url = git://github.com/arashpayan/appirater.git
[submodule "PSFoundation/External/jrswizzle"]
	path = PSFoundation/External/jrswizzle
	url = git://github.com/rentzsch/jrswizzle.git
